/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* additional sections */
#welcome {
  background: url(../images/sand-walk.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#welcome h1 {
	color: white;
	font-size: 2em;
	margin: 20px;
}



#when_and_where p{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 300;
}

#when_and_where h2{
  
}

#wedding_party {
  background: url(../images/sand.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;

  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wedding_party  .glyphicon {
  background: url(../images/posh_tent.jpg) 48% 15%;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
} 

#wedding_party  .glyphicon.jordan{
  background: url(../images/jordan.jpg) 48% 15%;
}

#wedding_party  .glyphicon.michael-robson{
  background: url(../images/robbo.jpg) 48% 15%;
}

#wedding_party  .glyphicon.lee-raisbeck{
  background: url(../images/lee.jpg) 48% 15%;
}

#wedding_party  .glyphicon.ric-mcmahon{
  background: url(../images/ric.jpg) 48% 15%;
}

#wedding_party  .glyphicon.emma-wood{
  background: url(../images/emma.jpg) 48% 15%;
}

#wedding_party  .glyphicon.cat-hall{
  background: url(../images/cat.jpg) 48% 15%;
}

#wedding_party  .glyphicon.charlotte-hall{
  background: url(../images/charlie.jpg) 48% 15%;
}

#wedding_party  .glyphicon.kayleigh-barker{
  background: url(../images/kayleigh.jpg) 48% 15%;
}

#accomodation {
  background-color: #306d9f;
  color: #ffffff;
}
#accomodation .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}
#accomodation .glyphicon.glamping {
	background: url(../images/posh_tent.jpg) 48% 15%;
}

#accomodation .glyphicon.camping {
	background: url(../images/field.jpg) 48% 15%;
}

#accomodation .glyphicon.cottage {
	background: url(../images/cottage.jpg) 48% 15%;
}

#accomodation .glyphicon.duke {
	background: url(../images/duke.jpg) 48% 15%;
}

#accomodation .glyphicon.fox {
	background: url(../images/fandh.jpg) 48% 15%;
}

#accomodation .glyphicon.rowantree {
	background: url(../images/rowantreefarm.jpg) 48% 15%;
}

#accomodation .glyphicon.crossley {
	background: url(../images/crossley.jpg) 48% 15%;
}

#accomodation .row p {
	margin: 0px;
}

#accomodation .row > div {
	margin: 0px 0px 10px 0px;
}

#accomodation .row > div a {
	color: white;
}

#make_a_weekend_of_it {
    background: url(../images/beach.jpg) no-repeat center center fixed; 
    display: table;
    height: 800px;
    position: relative;
    width: 100%;

    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#make_a_weekend_of_it .glyphicon {
  background: url(../images/crossley.jpg) 48% 15%;
  border: 2px solid #FFFFFF;
  border-radius: 17%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 210px;
}

#make_a_weekend_of_it .glyphicon.moors-centre {
	background: url(../images/moors-centre.jpg) 28% 15%;
}

#make_a_weekend_of_it .glyphicon.whitby {
	background: url(../images/whitby.jpg) 28% 15%;
}

#make_a_weekend_of_it .glyphicon.skelton {
	background: url(../images/skelton.jpg) 30% 15%;
}

#make_a_weekend_of_it .glyphicon.goathland {
	background: url(../images/goathland.jpg) 28% 15%;
}

#make_a_weekend_of_it .glyphicon.rosedale {
	background: url(../images/rosedale.jpg) 30% 15%;
}

#rsvp {
  background-color: #306d9f;
  color: #ffffff;
  display: table;
  height: 400px;
  position: relative;
  width: 100%;
}
#rsvp .panel {
  opacity: 0.85;
  color: black;
  text-align: center;
}

#rsvp form input {
  display:block;
  margin: 0 auto;
}

#rsvp form input[type='text'], #rsvp form textarea {
  margin:10px;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  -moz-opacity: 0;
  -webkit-opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/*HACK*/
#rsvp .form_radio .parsley-errors-list{
  display:inline;
}

#rsvp form .form_radio input, #rsvp form input[type='submit'] {
  display: inline-block;
}

#rsvp form .form_radio label{
  font-weight: normal;
}

#rsvp #already_rsvp{
  display: none;
}

#rsvp [for="form_evening_plus_one_name"]{
  display:none;
}

#google_map {
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}